# Library installation

In [1]:
pip install nltk spacy textblob -U

Requirement already satisfied: nltk in d:\anaconda\lib\site-packages (3.8.1)
Requirement already satisfied: spacy in d:\anaconda\lib\site-packages (3.7.4)
Requirement already satisfied: textblob in d:\anaconda\lib\site-packages (0.18.0.post0)
Requirement already satisfied: click in d:\anaconda\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in d:\anaconda\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in d:\anaconda\lib\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in d:\anaconda\lib\site-packages (from nltk) (4.66.4)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in d:\anaconda\lib\site-packages (from spacy) (3.0.12)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in d:\anaconda\lib\site-packages (from spacy) (1.0.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in d:\anaconda\lib\site-packages (from spacy) (1.0.10)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in d:\anaconda\lib\site-packages (from spacy) (2.0.8)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in d:\anaconda\lib\site-packages (from spacy) (3.0.9)
Requirement already satisfied: thinc<8.3.0,>=8.2.2 in d:\anaconda\lib\site-packages (from spacy) (8.2.3)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in d:\anaconda\lib\site-packages (from spacy) (1.1.3)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in d:\anaconda\lib\site-packages (from spacy) (2.4.8)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in d:\anaconda\lib\site-packages (from spacy) (2.0.10)
Requirement already satisfied: weasel<0.4.0,>=0.1.0 in d:\anaconda\lib\site-packages (from spacy) (0.3.4)
Requirement already satisfied: typer<0.10.0,>=0.3.0 in d:\anaconda\lib\site-packages (from spacy) (0.9.4)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in d:\anaconda\lib\site-packages (from spacy) (5.2.1)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in d:\anaconda\lib\site-packages (from spacy) (2.31.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4 in d:\anaconda\lib\site-packages (from spacy) (2.7.1)
Requirement already satisfied: jinja2 in d:\anaconda\lib\site-packages (from spacy) (3.1.3)
Requirement already satisfied: setuptools in d:\anaconda\lib\site-packages (from spacy) (68.2.2)
Requirement already satisfied: packaging>=20.0 in d:\anaconda\lib\site-packages (from spacy) (23.1)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in d:\anaconda\lib\site-packages (from spacy) (3.4.0)
Requirement already satisfied: numpy>=1.19.0 in d:\anaconda\lib\site-packages (from spacy) (1.24.3)
Requirement already satisfied: language-data>=1.2 in d:\anaconda\lib\site-packages (from langcodes<4.0.0,>=3.2.0->spacy) (1.2.0)
Requirement already satisfied: annotated-types>=0.4.0 in d:\anaconda\lib\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (0.6.0)
Requirement already satisfied: pydantic-core==2.18.2 in d:\anaconda\lib\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (2.18.2)
Requirement already satisfied: typing-extensions>=4.6.1 in d:\anaconda\lib\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (4.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\anaconda\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in d:\anaconda\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\anaconda\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2024.2.2)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in d:\anaconda\lib\site-packages (from thinc<8.3.0,>=8.2.2->spacy) (0.7.11)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in d:\anaconda\lib\site-packages (from thinc<8.3.0,>=8.2.2->spacy) (0.1.5)
Requirement already satisfied: colorama in d:\anaconda\lib\site-packages (from tqdm->nltk) (0.4.6)
Requirement already satisfied: cloudpathlib<0.17.0,>=0.7.0 in d:\anaconda\lib\site-packages (from weasel<0.4.0,>=0.1.0->spacy) (0.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in d:\anaconda\lib\site-packages (from jinja2->spacy) (2.1.3)
Requirement already satisfied: marisa-trie>=0.7.7 in d:\anaconda\lib\site-packages (from language-data>=1.2->langcodes<4.0.0,>=3.2.0->spacy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import nltk

In [4]:
nltk.download('punkt') #tokenization
nltk.download('stopwords') #stopwords removal
nltk.download('averaged_perceptron_tagger') #POS tagging
nltk.download('wordnet') #wordnet database and lemmatization
nltk.download('omw-1.4') #stemming  
nltk.download('indian') #Indian Language POS tagging
nltk.download('maxent_ne_chunker') #chunking

[nltk_data] Downloading package punkt to C:\Users\Administrator.DAI-
[nltk_data]     PC2\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Administrator.DAI-
[nltk_data]     PC2\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Administrator.DAI-
[nltk_data]     PC2\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to C:\Users\Administrator.DAI-
[nltk_data]     PC2\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to C:\Users\Administrator.DAI-
[nltk_data]     PC2\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package indian to C:\Users\Administrator.DAI-
[nltk_data]     PC2\AppData\Roaming\nltk_data...
[nltk_data]   Package indian is already up-to-date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\Administrator.DAI-
[nltk_data]     PC2\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping chunkers\maxent_ne_chunker.zip.

True

# Sample Example

In [5]:
sent= 'They told that their ages are 25 27 and 31 respectively'

In [6]:
#find the average of ages mentioned in the above sentence

In [23]:
ages=[]
for word in sent.split():
    if word.isdigit():
        ages.append(int(word))

In [25]:
sum(ages)/ len(ages)

27.666666666666668

In [26]:
ages=[int(word) for word in sent.split() if word.isdigit()]
sum(ages)/ len(ages)

27.666666666666668

In [27]:
import numpy as np

In [28]:
np.mean([int(word) for word in sent.split() if word.isdigit()])

27.666666666666668

# Tokenization

In [29]:
sent= 'Hello friends! How are you? Welcome to Python Programming.'

In [30]:
#import the functions
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize

In [32]:
#segmentation
#list of sentences are created
sent_tokenize(sent)

['Hello friends!', 'How are you?', 'Welcome to Python Programming.']

In [37]:
word_tokenize(sent)

['Hello',
 'friends',
 '!',
 'How',
 'are',
 'you',
 '?',
 'Welcome',
 'to',
 'Python',
 'Programming',
 '.']

In [39]:
#Find the percentage of punctuation symbols present in it
punct_count=len([word for word in word_tokenize(sent) if not word.isalnum()])

In [40]:
punct_count/len(word_tokenize(sent))

0.25

In [42]:
#ASCII Values
ord('a')
ord('#')

35

In [53]:
#Reverse of ord ---> chr
chr(67)

'C'

In [47]:
#Return the size of object in bytes.
import sys
sys.getsizeof('=')

50

In [49]:
char='abjjdgh'
sys.getsizeof(char)

56

In [48]:
help(sys.getsizeof)

Help on built-in function getsizeof in module sys:

getsizeof(...)
    getsizeof(object [, default]) -> int

    Return the size of object in bytes.

In [55]:
char='\u0935\u0940'
print(char)

वी

In [57]:
ord('व')

2357

In [59]:
chr(2358)

'श'

In [61]:
#hexadecimal
#0o for octal
#0b for binary
chr(0x935)

'व'

In [62]:
sys.getsizeof('व')

76

In [65]:
#Try Google Input Tools online
name= 'रूथ गायकवाड'

In [66]:
name.split()

['रूथ', 'गायकवाड']

In [67]:
name.startswith('रू')

True

In [68]:
name.replace('थ','')

'रू गायकवाड'

In [69]:
name.find('ग')

4

In [70]:
len(name)

11

In [71]:
names=['रूथ' , 'श्वेता' , 'ऋतुजा' , 'मुस्कान' , 'स्नेहल' ,'प्रणव' , 'प्रतीक्षा']

In [74]:
for name in names:
    if name.startswith('प्र'):
        print(name)

प्रणव
प्रतीक्षा

In [75]:
mtext = 'किल्ले रायगड हा महाराष्ट्रातील रायगड जिल्ह्यातील सह्याद्रीच्या पर्वतरांगांत असून समुद्रसपाटीपासून सुमारे ८२० मीटर (२७०० फूट) उंचीवर आहे. मराठी साम्राज्याच्या इतिहासामध्ये त्याची एक खास ओळख आहे. छत्रपती शिवाजीराजांनी रायगडचे स्थान आणि महत्त्व पाहून १६ व्या शतकात याला आपल्या राज्याची राजधानी बनविली. शिवराज्याभिषेक याच ठिकाणी झाला. इंग्रजांनी गड कब्जात घेतल्यानंतर लुटून त्याची नासधूस केली. सदर किल्ला हा महाराष्ट्र शासनाच्या पुरातत्त्व विभागाचे संरक्षित स्मारक आहे'
mtext

'किल्ले रायगड हा महाराष्ट्रातील रायगड जिल्ह्यातील सह्याद्रीच्या पर्वतरांगांत असून समुद्रसपाटीपासून सुमारे ८२० मीटर (२७०० फूट) उंचीवर आहे. मराठी साम्राज्याच्या इतिहासामध्ये त्याची एक खास ओळख आहे. छत्रपती शिवाजीराजांनी रायगडचे स्थान आणि महत्त्व पाहून १६ व्या शतकात याला आपल्या राज्याची राजधानी बनविली. शिवराज्याभिषेक याच ठिकाणी झाला. इंग्रजांनी गड कब्जात घेतल्यानंतर लुटून त्याची नासधूस केली. सदर किल्ला हा महाराष्ट्र शासनाच्या पुरातत्त्व विभागाचे संरक्षित स्मारक आहे'

In [76]:
word_tokenize(mtext)

['किल्ले',
 'रायगड',
 'हा',
 'महाराष्ट्रातील',
 'रायगड',
 'जिल्ह्यातील',
 'सह्याद्रीच्या',
 'पर्वतरांगांत',
 'असून',
 'समुद्रसपाटीपासून',
 'सुमारे',
 '८२०',
 'मीटर',
 '(',
 '२७००',
 'फूट',
 ')',
 'उंचीवर',
 'आहे',
 '.',
 'मराठी',
 'साम्राज्याच्या',
 'इतिहासामध्ये',
 'त्याची',
 'एक',
 'खास',
 'ओळख',
 'आहे',
 '.',
 'छत्रपती',
 'शिवाजीराजांनी',
 'रायगडचे',
 'स्थान',
 'आणि',
 'महत्त्व',
 'पाहून',
 '१६',
 'व्या',
 'शतकात',
 'याला',
 'आपल्या',
 'राज्याची',
 'राजधानी',
 'बनविली',
 '.',
 'शिवराज्याभिषेक',
 'याच',
 'ठिकाणी',
 'झाला',
 '.',
 'इंग्रजांनी',
 'गड',
 'कब्जात',
 'घेतल्यानंतर',
 'लुटून',
 'त्याची',
 'नासधूस',
 'केली',
 '.',
 'सदर',
 'किल्ला',
 'हा',
 'महाराष्ट्र',
 'शासनाच्या',
 'पुरातत्त्व',
 'विभागाचे',
 'संरक्षित',
 'स्मारक',
 'आहे']

# Space Tokenizer

In [95]:
f = open("mydata.txt","r")
data = f.read()

In [96]:
from nltk.tokenize import SpaceTokenizer

#Create the object
tk = SpaceTokenizer()

#tokenize the data
tk.tokenize(data)

['Hello',
 'Friends!',
 'How',
 'are',
 'you?\nWelcome',
 'to',
 'the',
 'world',
 'of',
 'Programming']

In [85]:
print(data.readable())

True

In [91]:
data = open("mydata.txt","r")
print(data.readlines())    #readlines

['Hello Friends! How are you?\n', 'Welcome to the world of Programming']

In [90]:
data = open("mydata.txt","r")
print(data.readline())

Hello Friends! How are you?

# Tab Tokenizer

In [98]:
f = open("mydata.txt","r")
data = f.read()
print(data)

Hello Friends!	 How are you?
Welcome to the world of	 Programming.

In [99]:
from nltk.tokenize import TabTokenizer

#Create the object
tk = TabTokenizer()

#tokenize the data
tk.tokenize(data)

['Hello Friends!', ' How are you?\nWelcome to the world of', ' Programming.']

# Line Tokenizer

In [100]:
from nltk.tokenize import LineTokenizer

#Create the object
tk = LineTokenizer()

#tokenize the data
tk.tokenize(data)

['Hello Friends!\t How are you?', 'Welcome to the world of\t Programming.']

# Whitespace Tokenizer

In [101]:
from nltk.tokenize import WhitespaceTokenizer

#Create the object
tk = WhitespaceTokenizer()

#tokenize the data
tk.tokenize(data)

['Hello',
 'Friends!',
 'How',
 'are',
 'you?',
 'Welcome',
 'to',
 'the',
 'world',
 'of',
 'Programming.']

# MWE Tokenizer -> multiword expression

In [104]:
sent1 = 'The Van Rossum is Python creater, visiting Pune this week. the development community is very eager to meet Van Rossum'
print(sent1)

The Van Rossum is Python creater, visiting Pune this week. the development community is very eager to meet Van Rossum

In [105]:
word_tokenize(sent1)

['The',
 'Van',
 'Rossum',
 'is',
 'Python',
 'creater',
 ',',
 'visiting',
 'Pune',
 'this',
 'week',
 '.',
 'the',
 'development',
 'community',
 'is',
 'very',
 'eager',
 'to',
 'meet',
 'Van',
 'Rossum']

In [110]:
from nltk.tokenize import MWETokenizer

#Create the object
tk = MWETokenizer(separator=' ')

#add multiword expression
tk.add_mwe(('Van','Rossum'))

#tokenize the data
tk.tokenize(word_tokenize(sent1))

['The',
 'Van Rossum',
 'is',
 'Python',
 'creater',
 ',',
 'visiting',
 'Pune',
 'this',
 'week',
 '.',
 'the',
 'development',
 'community',
 'is',
 'very',
 'eager',
 'to',
 'meet',
 'Van Rossum']

# Tweet tokenizer

In [111]:
sent = 'Hello Friends :)! How are you? Welcome to the world of Programming. :D'
print(sent)

Hello Friends :)! How are you? Welcome to the world of Programming. :D

In [112]:
from nltk.tokenize import TweetTokenizer

#Create the object
tk = TweetTokenizer()

#tokenize the data
tk.tokenize(sent)

['Hello',
 'Friends',
 ':)',
 '!',
 'How',
 'are',
 'you',
 '?',
 'Welcome',
 'to',
 'the',
 'world',
 'of',
 'Programming',
 '.',
 ':D']

In [116]:
f = open("mydata.txt",encoding='utf-8')
data = f.read()
print(data)

Hello Friends!😊 How are you?🤗
Welcome to the world🌍 of Programming.😣

In [118]:
word_tokenize(data)

['Hello',
 'Friends',
 '!',
 '😊',
 'How',
 'are',
 'you',
 '?',
 '🤗',
 'Welcome',
 'to',
 'the',
 'world🌍',
 'of',
 'Programming.😣']

In [117]:
tk.tokenize(data)

['Hello',
 'Friends',
 '!',
 '😊',
 'How',
 'are',
 'you',
 '?',
 '🤗',
 'Welcome',
 'to',
 'the',
 'world',
 '🌍',
 'of',
 'Programming',
 '.',
 '😣']

# Custom Tokenizer

In [120]:
import re

def custom_tokenizer(text):
    return re.split(r"[.,;?!\s]+", text)

text = "This is some text with punctuation > Let's tokenize it. Is it ok?"

tokens = custom_tokenizer(text)

print("Tokens:")
for token in tokens:
    print(token)

Tokens:
This
is
some
text
with
punctuation
>
Let's
tokenize
it
Is
it
ok

In [127]:
f = open('student3.tsv')
data = f.read()

In [128]:
print(data)

roll	name	class	marks	age
1	anil	TE	56.77	22
2	amit	TE	59.77	21
3	aniket	BE	76.88	19
4	ajinkya	TE	69.66	20
5	asha	TE	63.28	20
6	ayesha	BE	49.55	20
7	amar	BE	65.34	19
8	amita	BE	68.33	23
9	amol	TE	56.75	20
10	anmol	BE	78.66	21

In [137]:
#d = data.split()
list = []
for i in d:
    list.append(d)
print(list)

[['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75', '20', '10', 'anmol', 'BE', '78.66', '21'], ['roll', 'name', 'class', 'marks', 'age', '1', 'anil', 'TE', '56.77', '22', '2', 'amit', 'TE', '59.77', '21', '3', 'aniket', 'BE', '76.88', '19', '4', 'ajinkya', 'TE', '69.66', '20', '5', 'asha', 'TE', '63.28', '20', '6', 'ayesha', 'BE', '49.55', '20', '7', 'amar', 'BE', '65.34', '19', '8', 'amita', 'BE', '68.33', '23', '9', 'amol', 'TE', '56.75',

In [148]:
list = []
for x in data.split('\n'):
    inner_list = []
    for y in x.split('\t'):
        if y.isdigit():
            inner_list.append(int(y))
        elif y.find('.') > 0:
            inner_list.append(float(y))
        else:
            inner_list.append(y)
    list.append(inner_list)
list

[['roll', 'name', 'class', 'marks', 'age'],
 [1, 'anil', 'TE', 56.77, 22],
 [2, 'amit', 'TE', 59.77, 21],
 [3, 'aniket', 'BE', 76.88, 19],
 [4, 'ajinkya', 'TE', 69.66, 20],
 [5, 'asha', 'TE', 63.28, 20],
 [6, 'ayesha', 'BE', 49.55, 20],
 [7, 'amar', 'BE', 65.34, 19],
 [8, 'amita', 'BE', 68.33, 23],
 [9, 'amol', 'TE', 56.75, 20],
 [10, 'anmol', 'BE', 78.66, 21],
 ['']]